.background {
  background: url(https://images.pexels.com/photos/4338020/pexels-photo-4338020.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  width: 100vw;
  height: 91vh;
  background-size: 100% 100%;
}

#loginBack {
  background-color: blueviolet;
  width: 100%;
  height: 90vh;
}
